<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<add key="connectionString" value="Data Source=DESKTOP-1PTCR12\\SQLEXPRESS;Initial Catalog=NYP_PROJE;Persist Security Info=True;User ID=metin;Password=23262326"/>
	</appSettings>
    <connectionStrings>
        <add name="nypproje.Properties.Settings.NYP_PROJEConnectionString"
            connectionString="Data Source=DESKTOP-1PTCR12\SQLEXPRESS;Initial Catalog=NYP_PROJE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="nypproje.Properties.Settings.DatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\nypProjectDatabase.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>